/*Template Stylesheet*/
header {
  background-color: #333;
  color: white;
  padding: 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
nav ul li a {
  color: white;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  nav ul {
    display: none;
    flex-direction: column;
    background-color: #444;
    padding: 1rem;
  }

  nav ul.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}

section {
  padding: 2rem;
}

/* Slider Code */
#slides {
  height: 100%;
}

.slider {
  position: relative;
  max-width: 800px;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slides img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slides img.active {
  opacity: 1;
}
#grid {
  z-index: 10;
  margin: 20px auto 20px auto;
  width: 1040px;
  height: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-auto-rows: 150px 60px auto;
  grid-template-areas:
    "a"
    "b"
    "c";
  #a {
    grid-area: a;
  }
  #b {
    grid-area: b;
  }
  #c {
    grid-area: c;
  }
}

#a,
#b,
#c {
  z-index: 15;
  border: 1px solid #111;
}

#a {
  padding: 25px;
}
#b {
  padding: 0px;
}
#c {
  padding: 15px;
}

#innerhtml,
#innerhtml2,
#parameters,
#jsobject,
#winsize,
#screenres,
#dates {
  width: 100%;
  height: 200px;
  border: 1px solid #111;
  margin-bottom: 10px;
  padding: 20px;
}

#winsize button,
#screenres button,
#innerhtml2 button {
  background-color: lightblue;
  padding: 10px;
  border: 1px solid #111;
  box-shadow: 0 3px 4px #888;
}
